html,
body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}

::-webkit-scrollbar {
  width: 0px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113) !important;
  border-radius: 10px !important;
  height: 200px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.category-btn:hover {
  background-color: #fc1503 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none !important;
  outline: none !important;
  width: 350px !important;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  cursor: pointer !important;
  background: transparent;
  outline: none !important;
  border: none !important;

  padding: 7px 15px !important;
  margin: 5px 0px !important;
  border-radius: 20px !important;
  transition: all 0.3s ease !important;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px !important;
    min-width: fit-content !important;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 200px !important;
  }
}

@media screen and (max-width: 350px) {
  .search-bar {
    width: 150px !important;
  }
}
